@model IEnumerable<Shapeclasses.Card>

@{
    ViewBag.Title = "Index";
}

<head>
    <title>SignalR MoveShape Demo</title>
    <style>
        #services ul {
            display: block;
            float: right;
            width: 230px;
            /*color: #000000;
            background-color: #F6F6F6;
            border-radius: 5px;*/
            padding-top: 6px;
            padding-right: 20px;
            padding-left: 9px;
        }

        .card {
            /*border-top: 1px dotted #6BA3A3;
            border-bottom: 1px dotted #6BA3A3;*/
            color: #000000;
            background-color: yellow;
            width: 200px;
            height: auto;
            display: block;
            /*float:inherit;*/
            position: absolute;
            padding-bottom: 6px;
            padding-top: 6px;
            padding-right: 6px;
            padding-left: 6px;
        }

        #Title {
            width: 250px;
        }

        #Text {
            width: 250px;
        }

        .card button {
            background-color: #F6F6F6;
        }

        .glyphicon {
            padding-top: 5px;
        }

        .row1 {
            height: 20px;
            padding-bottom: 35px;
        }

        #trash {
            padding: 1px;
            height: 30px;
            width: 30px;
            margin-bottom: 4px;
        }

        #pencil {
            padding: 1px;
            height: 30px;
            width: 30px;
            background-color: red;
        }


        #top {
            background-color: #2574A9;
            font-family: 'Segoe UI';
            color: #fff;
            height: 60px;
            border: 1px solid #fff;
            border-radius: .50rem;
            align-content: center;
            width: auto;
        }

        #col0 {
            /*padding-left: 40px;*/
            padding-right: 144px;
            height: 30px;
            width: 205px;
        }

        #col1 {
            padding-right: 28px;
            padding-left: 0px;
            height: 30px;
            width: 30px;
            /*margin-bottom: 4px;*/
        }

        #col2 {
            padding-right: 28px;
            padding-left: 0px;
            height: 30px;
            width: 30px;
            /*margin-bottom: 4px;*/
        }

        #col3 {
            padding-right: 28px;
            padding-left: 0px;
            height: 30px;
            width: 30px;
            /*margin-bottom: 4px;*/
        }

        #col4 {
            padding-right: 28px;
            padding-left: 0px;
            height: 30px;
            width: 30px;
            /*margin-bottom: 4px;*/
        }
    </style>
    <body>


        <form method="post">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="Title" id="Title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control rounded-0" name="Text" id="Text"></textarea>
            </div>
            <span id="button1">
                <button type="button" onclick="addNewCard()" class="btn btn-primary">Add</button>
            </span>
            <span id="button2">
                <button type="button" class="btn btn-primary" onclick="addNewCardToDB()">Save</button>
            </span>
        </form>
        <div id="cardsContainer">


            @{
                foreach (var card in Model)
                {

                    <div id="services">
                        <ul>
                            <li class="card" id="@card.CardID" style="left: @card.Left; top: @card.Top">
                                <div class="row1">
                                    <div class="col-xs-8 col-sm-8 col-md-8">
                                        <button type="button" class="btn btn-default btn-sm " id="pencil">
                                            <span class="vote">

                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-1">
                                        <a href="javascript:;" class="btn btn-default btn-sm edit" id="pencil">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>

                                    <div class="col-xs-1 col-sm-1 col-md-1">
                                        <a href="javascript:;" class="btn btn-default btn-sm delete" id="trash">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </div>
                                </div>


                                <h4 id="title"> @card.Title</h4>
                                <input type="text" id="titleInput" style="display:none" value="@card.Title" />
                                <p id="text">@card.Text</p>
                                <input id="textInput" type="text" style="display:none" value="@card.Text" />


                            </li>
                        </ul>
                    </div>
                }
            }
        </div>


        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
        <script src="~/signalr/hubs"></script>

        <script>
            //$(function () {
            //    var moveShapeHub = $.connection.moveShapeHub,
            //        // Send a maximum of 10 messages per second
            //        // (mouse movements trigger a lot of messages)
            //        messageFrequency = 10,
            //        // Determine how often to send messages in
            //        // time to abide by the messageFrequency
            //        updateRate = 1000 / messageFrequency,
            //        shapeModel = {
            //            id: '',
            //            left: 0,
            //            top: 0
            //        },
            //        moved = false;
            //    moveShapeHub.client.updateShape = function (model) {
            //        $("#" + model.Id).css({ left: model.Left, top: model.Top });
            //    };
            //    $.connection.hub.start().done(function () {
            //        $(".card").draggable({
            //            drag: function () {
            //                shapeModel = $(this).offset();
            //                shapeModel.id = this.id;
            //                moved = true;
            //            },
            //            stop: function () {
            //                shapeModel = $(this).offset();
            //                shapeModel.id = this.id;
            //                moveShapeHub.server.updateModel(shapeModel);
            //            }
            //        });
            //        // Start the client side server update interval
            //        setInterval(updateServerModel, updateRate);

            //        moveShapeHub.server.firstHandShake();
            //    });
            //    function updateServerModel() {
            //        // Only update server if we have a new movement
            //        if (moved) {
            //            moveShapeHub.server.updateModel(shapeModel);
            //            moved = false;
            //        }
            //    }
            //});
            let moveShapeHub;
            let cardCounter = 1;

            // Send a maximum of 10 messages per second
            // (mouse movements trigger a lot of messages)
            let messageFrequency = 10;

            // Determine how often to send messages in
            // time to abide by the messageFrequency
            let updateRate = 1000 / messageFrequency
            let shapeModel = {
                Id: '',
                Left: 0,
                Top: 0,
                Title: '',
                Text: ''
            };
            let moved = false;

            function uuidv4() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }

            function updateServerModel() {
                // Only update server if we have a new movement
                if (moved) {
                    moveShapeHub.server.updateModel(shapeModel);
                    moved = false;
                }
            }

            function makeElementDraggable($element) {
                $element.draggable({
                    drag: function () {
                        shapeModel = $(this).offset();
                        shapeModel.Id = this.id;
                        moved = true;
                    },
                    stop: function () {
                        shapeModel = $(this).offset();
                        shapeModel.Id = this.id;
                        moveShapeHub.server.updateModel(shapeModel);
                    }
                });
            }



            function addNewCardToDom(shapeModel) {

                let cardHtmlStr = ` <li class="card" id=${shapeModel.Id}>

                                                                    <div class="row1">

                                                                        <div class="col-xs-2 col-sm-1 col-md-1" id="col1">
                                                                            <a href="javascript:;" class="btn btn-default btn-sm edit" id="pencil">
                                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                                            </a>
                                                                        </div>

                                                                        <div class="col-xs-1 col-sm-1 col-md-1" id="col2">
                                                                            <a href="javascript:;" class="btn btn-default btn-sm delete" id="trash">
                                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                      <h3 id="boardid" style="display:none">${shapeModel.BoardID}</h3>
                                                                    <h3 id="cardid" style="display:none">${shapeModel.Id}</h3>
                                                                    <h4 id="title"> ${shapeModel.Title}</h4>
                                                                    <input type="text" id="titleInput" style="display:none" value="${shapeModel.Title}" />
                                                                    <p id="text">${shapeModel.Text}</p>
                                                                    <input id="textInput" type="text" style="display:none" value="${shapeModel.Text}" />




                                                                    </div>

                                                                    <a class="Update" href="javascript:;" style="display:none">Update</a>
                                                                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                                                  </li>`
                $("#cardsContainer").append(cardHtmlStr);
            }

            function addNewCardToDB(shapeModel) {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: "/Home/AddCardSignal",
                    type: 'POST',
                    data: JSON.stringify({ 'card': shapeModel }),
                    success: function (data) {

                        shapeModel.Id = data;
                        addNewCardToDom(shapeModel);

                        makeCardMove($("#" + shapeModel.Id));

                        moveShapeHub.server.addNewShape(shapeModel);
                    }
                });
            }

            function addNewCard() {

                let title = $("#Title").val();
                let text = $("#Text").val();
                let id = uuidv4();

                let newShape = { Id: id, Left: 200, Top: 25, Title: title, Text: text };

                addNewCardToDom(newShape);
                makeElementDraggable($("#" + id));
                adjustShapePosition(newShape);


                moveShapeHub.server.addNewShape(newShape);
            }

            function adjustShapePosition(shapeModel) {
                $("#" + shapeModel.Id).css({ left: shapeModel.Left, top: shapeModel.Top });
            }



            $(document).ready(function () {

                moveShapeHub = $.connection.moveShapeHub;

                moveShapeHub.client.updateShape = function (shapeModel) {
                    adjustShapePosition(shapeModel);

                };

                moveShapeHub.client.newShapeAdded = function (shapeModel) {

                    addNewCardToDom(shapeModel);
                    makeElementDraggable($("#" + shapeModel.Id));

                    adjustShapePosition(shapeModel);

                };

                $.connection.hub.start().done(function () {

                    setInterval(updateServerModel, updateRate);
                    moveShapeHub.server.firstHandShake();
                });
            });


        </script>

        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script>
            $("body").on("click", ".edit", function () {
                var card = $(this).closest(".card");
                $(card).each(function () {
                    if ($(this).find("#titleInput").length > 0) {
                        console.log("edit button clicked");
                        // console.log(card);
                        $(this).find("input").show();
                        $(this).find(".text").hide();
                        $(this).find(".title").hide();
                    }//end of if statement
                });
                card.find(".Update").show();
                card.find(".Cancel").show();
            });
            $("body").on("click", ".vote", function () {
                var card = $(this).closest(".card");
                $(card).each(function () {
                    var BID = $(this).find("#boardid").html();
                    var ID = $(this).find("#cardid").html();
                    console.log("this is the board id: " + BID);
                    console.log("this is the card id: " + ID);
                    var voteCard = {};
                    voteCard.BoardID = card.find("#boardid").html();
                    voteCard.CardId = card.find("#cardid").html();
                    console.log("this is the board id: " + voteCard.BoardID);
                    console.log("this is the card id: " + voteCard.CardId);
                    $.ajax({
                        url: "/Home/Vote",
                        type: 'POST',
                        data: JSON.stringify(voteCard),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    });
                    location.reload();
                });
            });

            $("body").on("click", ".Update", function () {
                var card = $(this).closest(".card");

                $(card).each(function () {
                    //if (x == card.find("#cardid").html()) {
                    var titleInput = $(this).find("#titleInput");
                    var textInput = $(this).find("#textInput");
                    var text = $(this).find(".text");
                    var title = $(this).find(".title");
                    card.find('#text').html(textInput.val());
                    card.find('#title').html(titleInput.val());
                    text.show();
                    title.show();
                    titleInput.hide();
                    textInput.hide();
                    //  }//end of if
                });

                card.find(".edit").show();
                card.find(".Cancel").hide();


                $(this).hide();
                var updatedCard = {};
                updatedCard.CardId = card.find("#cardid").html();
                updatedCard.Title = card.find("#title").html();
                updatedCard.Text = card.find("#text").html();
                console.log("ID: " + updatedCard.CardId + "Title: "
                    + updatedCard.Title + "Text: " + updatedCard.Text);

                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateCard",
                    data: JSON.stringify(updatedCard),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"

                });
            });


            $("body").on("click", ".Cancel", function () {
                var card = $(this).closest(".card");
                $(card).each(function () {
                    $(this).find("input").hide();
                    $(this).find(".text").show();
                    $(this).find(".title").show();
                });
                card.find(".Update").hide();
                card.find(".Cancel").hide();
            });



        </script>


    </body>
